/* Flex */
/* 2028 */
.flex {
	display: -ms-flexbox;
	-ms-flex-pack: justify;
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-moz-justify-content: space-between;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
}
/* 2045 */
.flex.flex-2, .flex.flex-3 {
	-moz-align-items: stretch;
	-webkit-align-items: stretch;
	-ms-align-items: stretch;
	align-items: stretch;
}
/* 2052 */
.flex.flex-2 .col {
	width: 48%;
}
/* 2056 */
.flex.flex-3 .col {
	width: 31%;
}
/* 2064 */
.flex.flex-tabs {
	-moz-flex-wrap: nowrap;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
}

@media screen and (max-width: 980px) {
	/* 2085 */
	.flex.flex-tabs ul {
		width: 30%;
	}
}
