/* Footer */
/* 3777 */
#footer {
	padding: 6em 0 4em 0;
}
/* 3781 */
#footer > .inner {
	margin: 0 auto;
	width: 80em;
}
/* 3786 */
#footer .copyright {
	color: #676d71;
	font-size: 0.9em;
	margin: 0 0 2em 0;
	padding: 0;
	text-align: center;
}
/* 3794 */
#footer .copyright .icons {
	margin: 2em 0 1em 0;
}

@media screen and (max-width: 980px) {
	/* 3808 */
	#footer > .inner {
		width: 90%;
	}
}
