/* Reset */
/* 13 */
html, body, div, span, h1, h2, h3, p, a, img, ul, li, caption, footer, header, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* 22 */
footer, header, menu, nav, section {
	display: block;
}
/* 26 */
body {
	line-height: 1;
}
